﻿@model IEnumerable<AuthSystem.Models.AssignmentApplication>

@{
    ViewData["Title"] = "Index";
}

<h4>Assignment Applications</h4>
<hr />

<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Institution)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Course)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DueDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AdditionalNotes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    <a asp-action="AddOrEdit" class="btn btn-outline-success"><i class="far fa-plus-square"></i> Assignment Application</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Institution)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdditionalNotes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    R  @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    <a asp-action="AddOrEdit" asp-route-id="@item.AssignmentId"><i class="fa fa-marker fa-lg"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.AssignmentId" class="text-danger" ml-1 onclick="return confirm('Are you sure to delete this record')"><i class="fa fa-trash-alt fa-lg"></i></a> |
                    <a asp-action="Checkout" asp-route-id="@item.Amount"> <i class="fab fa-paypal" aria-hidden="true"> Pay With PayPal</i> </a>
                </td>
            </tr>
}
        </tbody>
    </table>
</div>