﻿@model AuthSystem.Models.AssignmentApplication

@{
    ViewData["Title"] = "IT Assignement Submission Application";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Assignment Details</h4>
<hr />
<div>
    <div class="col-md-6">
      <form asp-action="AddOrEdit" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="AssignmentId" />
        <div class="form-group">
          <label asp-for="Institution" class="control-label"></label>
          <input asp-for="Institution" class="form-control" />
          <span asp-validation-for="Institution" class="text-danger"></span>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label asp-for="Course" class="control-label"></label>
            <input asp-for="Course" class="form-control" />
            <span asp-validation-for="Course" class="text-danger"></span>
          </div>
          <div class="form-group col-md-6">
            <label asp-for="Year" class="control-label"></label>
            <input asp-for="Year" class="form-control" />
            <span asp-validation-for="Year" class="text-danger"></span>
          </div>
        </div>
        <div class="form-group">
          <label asp-for="DueDate" class="control-label"></label>
          <input asp-for="DueDate" class="form-control" />
          <span asp-validation-for="DueDate" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="AdditionalNotes" class="control-label"></label>
          <input asp-for="AdditionalNotes" class="form-control" />
          <span asp-validation-for="AdditionalNotes" class="text-danger"></span>
        </div>
        <div class="form-group">
               <input type="file" name="postedFile" class="text-danger" required />
            </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <input type="submit" value="Submit" class="btn btn-primary btn-block" />
          </div>
          <div class="form-group col-md-6">
            <a asp-action="Index" class="btn btn-secondary btn-block"><i class="fa fa-table"></i>Back to List</a>
          </div>
        </div>
      </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
