﻿@page
@model RegisterModel
@{
  ViewData["Title"] = "Assignment - Sign Up";
  Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
  <div asp-validation-summary="All" class="text-danger"></div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label asp-for="Input.FirstName"></label>
        <input asp-for="Input.FirstName" class="form-control" />
        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label asp-for="Input.LastName"></label>
        <input asp-for="Input.LastName" class="form-control" />
        <span asp-validation-for="Input.LastName" class="text-danger"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label asp-for="Input.PhoneNumber"></label>
        <input asp-for="Input.PhoneNumber" class="form-control" />
        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" class="form-control" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label asp-for="Input.Nationality"></label>
        <input asp-for="Input.Nationality" class="form-control" />
        <span asp-validation-for="Input.Nationality" class="text-danger"></span>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label asp-for="Input.DOB"></label>
        <input asp-for="Input.DOB" class="form-control" />
        <span asp-validation-for="Input.DOB" class="text-danger"></span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" class="form-control" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label asp-for="Input.ConfirmPassword"></label>
        <input asp-for="Input.ConfirmPassword" class="form-control" />
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
      </div>
    </div>
  </div>


  <button type="submit" class="btn btn-primary">Register</button>
</form>

@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}
